@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{padding:none;margin:none;}

body{
    background-color: #FCF7F6;
}

h2{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2.5vw;

}

header{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2vw;
    text-align: center;


}

h1{
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 7vw;
    padding-top:8vh;
}

.pad{
    padding-left: 5%;
    padding-top: 2%;
}

button{
    background-color:#FECF70;
    border:none;
    border-radius:.7rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

}

.home {
    background-color: #FF312E;
}

.home_icon{

    height:4.5vh;
}

.bg_button{
    background-color:rgba(254, 207, 112, 0.39);
    width:25vw;
    height:7vh;
    text-align: center;
    border-radius:.7rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-column-gap: 0.2rem;
    border:solid;
    border-width:0.2rem;
    border-color: rgba(254, 207, 112, 0);
    margin-top: 2rem;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30vw;
}

.bottom{
    padding-top:10vh;
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
}

.links_holder{
    border: solid 0.4rem #FECF70;
    border-radius: 4rem;
    width:8vw;
    text-align: center;
    margin-left:30vw;
}

.links_holder svg{
    margin-top:1rem;

    height:2rem;
    padding-right:0.5rem;
    padding-left:0.5rem;
}

/*
FEE7C2
FCF7F6

*/